
<%- include('partials/header') %>
<div class="container">
    <div class="jumbotron">
        <h1>Interview-Prep</h1>
    </div>
    <div class="row text-center">
        <div class="col-md-6 col-sm-6">
            <div class="img-thumbnail landing-header" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQPvGBbHBqb9P3tAP0zROQobn6daXTZ9et14g&usqp=CAU" alt="">
                <p><a class="btn btn-info" href="/software">Software Companies</a></p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="img-thumbnail landing-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSevwanC4NY7yagFB0B2ILMgj9m5kMTQrNb_w&usqp=CAU" alt="">
                <p><a class="btn btn-info" href="/analytics">Analytics Companies</a></p>
            </div>
        </div>
        
    </div>
</div>

<%- include('partials/footer') %>