<%- include('partials/header') %>
<section class="header">
    <div> 
        <h1>Home</h1>
        <h3>
            <em>Welcome to Interview-Prep! Here you will find details about the placement process of various companies and learn about the interview experince from the people who have appeared for the respective companies, and who better to share their experiences about it than the people who have aced it.</em>
        </h3>
        <br>
        <h3><em> We thank all the students for giving their valuable time in filling their responses.</em></h3>
            
               
    </div>
</section>
<%- include('partials/footer') %>