<%- include('../partials/header') %>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Analytics Companies Interview Experience</h1>
            <a class="btn btn-primary" href="/analytics/new">Add a new Company</a>
        </div>
    </div>

<div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% data.forEach(function(company){ %>
        <div class="col-md-3 col-sm-6" >
            <div class="cards">
                <div class="img-thumbnail">
                
                    <img src="<%= company.image %>">
                    <a class="btn btn-primary" href="/analytics/<%= company._id %>">Interview Experiences</a>
                </div>
            </div>
        </div>
    <% }); %>
</div>
</div>
<%- include('../partials/footer') %>
